In [2]:
import pandas as pd

import geopandas as gpd
 
import contextily as ctx

import matplotlib.pyplot as plt

/opt/conda/lib/python3.9/site-packages/geopandas/_compat.py:106: UserWarning: The Shapely GEOS version (3.9.1-CAPI-1.14.2) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [3]:
race2019blockgdf = gpd.read_file('race2019blocks.geojson')
race2019blockgdf.sample(3)

,geoid,name,Total,White alone,Black or African American alone,American Indian and Alaska Native alone,Asian alone,Native Hawaiian and Other Pacific Islander alone,Some other race alone,Two or more races,Hispanic or Latino,Percent White alone,Percent Black or African American alone,Percent American Indian and Alaska Native alone,Percent Asian alone,Percent Native Hawaiian and Other Pacific Islander alone,Percent Some other race alone,Percent Two or more races,Percent Hispanic or Latino,geometry
277,15000US060014088001,"Block Group 1, Alameda, CA",1690.0,11.0,214.0,0.0,36.0,181.0,0.0,12.0,1236.0,0.650888,12.662722,0.0,2.130178,10.710059,0.0,0.710059,73.136095,"MULTIPOLYGON (((-13602641.652 4545279.318, -13..."
35,15000US060014012002,"Block Group 2, Alameda, CA",700.0,410.0,54.0,0.0,99.0,0.0,0.0,0.0,137.0,58.571429,7.714286,0.0,14.142857,0.000000,0.0,0.000000,19.571429,"MULTIPOLYGON (((-13610009.777 4555266.749, -13..."
121,15000US060014049001,"Block Group 1, Alameda, CA",806.0,575.0,47.0,0.0,67.0,6.0,0.0,31.0,80.0,71.339950,5.831266,0.0,8.312655,0.744417,0.0,3.846154,9.925558,"MULTIPOLYGON (((-13605661.861 4552303.948, -13..."

In [4]:
race2019blockgdf['newgeoid'] = race2019blockgdf['geoid'].str[8:19]
race2019blockgdf.sample(3)

,geoid,name,Total,White alone,Black or African American alone,American Indian and Alaska Native alone,Asian alone,Native Hawaiian and Other Pacific Islander alone,Some other race alone,Two or more races,...,Percent White alone,Percent Black or African American alone,Percent American Indian and Alaska Native alone,Percent Asian alone,Percent Native Hawaiian and Other Pacific Islander alone,Percent Some other race alone,Percent Two or more races,Percent Hispanic or Latino,geometry,newgeoid
258,15000US060014083005,"Block Group 5, Alameda, CA",885.0,162.0,508.0,0.0,61.0,18.0,0.0,42.0,...,18.305085,57.401130,0.000000,6.892655,2.033898,0.0,4.745763,10.621469,"MULTIPOLYGON (((-13600139.635 4546862.907, -13...",60014083005
84,15000US060014037021,"Block Group 1, Alameda, CA",541.0,198.0,159.0,0.0,73.0,0.0,0.0,0.0,...,36.598891,29.390018,0.000000,13.493530,0.000000,0.0,0.000000,20.517560,"MULTIPOLYGON (((-13609092.505 4552701.570, -13...",60014037021
69,15000US060014033002,"Block Group 2, Alameda, CA",2291.0,323.0,181.0,100.0,1506.0,0.0,0.0,64.0,...,14.098647,7.900480,4.364906,65.735487,0.000000,0.0,2.793540,5.106940,"MULTIPOLYGON (((-13611011.319 4550799.408, -13...",60014033002

In [5]:
checkgdf = race2019blockgdf.newgeoid.value_counts()
checkgdf.sort_values()

60014001001    1
60014003003    1
60014003004    1
60014004001    1
60014004002    1
              ..
60014104003    1
60014105001    1
60014099001    1
60014098003    1
60019832001    1
Name: newgeoid, Length: 330, dtype: int64

In [6]:
CountClose2019gdf = gpd.read_file('CountClose2019.geojson')
CountClose2019gdf.sample(3)

,statefp10,mtfcc10,uace10,name10,intptlat10,blockce10,awater10,funcstat10,aland10,geoid10,...,intptlon10,ur10,countyfp10,counts,counts_lag,counts_lag_diff,closure_median,closure_lag,closure_lag_diff,geometry
1408,06,G5040,,Block 2012,+37.7554711,2012,0,S,11858,060014089002012,...,-122.1908267,,001,1,2.75,-1.75,30.0,99.2500,-69.2500,"MULTIPOLYGON (((-13602294.891 4544830.448, -13..."
767,06,G5040,,Block 1005,+37.7952545,1005,0,S,11980,060014055001005,...,-122.2424626,,001,3,2.00,1.00,20.0,178.3125,-158.3125,"MULTIPOLYGON (((-13607963.280 4550639.795, -13..."
522,06,G5040,,Block 2020,+37.7690457,2020,0,S,60861,060014073002020,...,-122.2167547,,001,4,1.25,2.75,69.5,50.9375,18.5625,"MULTIPOLYGON (((-13604826.074 4546729.829, -13..."

In [7]:
CountClose2019gdf['newgeoid'] = CountClose2019gdf['geoid10'].str[1:12]
CountClose2019gdf.sample(3)

,statefp10,mtfcc10,uace10,name10,intptlat10,blockce10,awater10,funcstat10,aland10,geoid10,...,ur10,countyfp10,counts,counts_lag,counts_lag_diff,closure_median,closure_lag,closure_lag_diff,geometry,newgeoid
1290,06,G5040,,Block 3003,+37.8262527,3003,0,S,32662,060014046003003,...,,001,2,1.25,0.75,41.0,76.4375,-35.4375,"MULTIPOLYGON (((-13602108.988 4554856.909, -13...",60014046003
803,06,G5040,,Block 1007,+37.7985016,1007,0,S,17300,060014066021007,...,,001,3,5.25,-2.25,4.0,90.8125,-86.8125,"MULTIPOLYGON (((-13604918.914 4551079.758, -13...",60014066021
1695,06,G5040,,Block 1067,+37.7721742,1067,0,S,18638,060014061001067,...,,001,2,1.75,0.25,8.0,31.3750,-23.3750,"MULTIPOLYGON (((-13604985.595 4547236.943, -13...",60014061001

In [8]:
check2gdf = CountClose2019gdf.newgeoid.value_counts()
check2gdf.sort_values()

60014067002     1
60014081003     1
60014239021     1
60014038001     1
60014096002     1
               ..
60014105001    18
60014089002    19
60014061001    22
60014073002    22
60014060001    25
Name: newgeoid, Length: 332, dtype: int64

In [9]:
new2019df = CountClose2019gdf[['newgeoid', 'counts','counts_lag','counts_lag_diff','closure_median','closure_lag','closure_lag_diff']]
new2019df.sample(3)

,newgeoid,counts,counts_lag,counts_lag_diff,closure_median,closure_lag,closure_lag_diff
1602,60014064002,8,2.75,5.25,72.0,66.4375,5.5625
1226,60014084003,2,1.25,0.75,13.5,102.6875,-89.1875
1164,60014030002,1,2.25,-1.25,56.0,18.4375,37.5625

In [10]:
Merged2019gdf = race2019blockgdf.merge(new2019df,on='newgeoid')
Merged2019gdf.sample(3)

,geoid,name,Total,White alone,Black or African American alone,American Indian and Alaska Native alone,Asian alone,Native Hawaiian and Other Pacific Islander alone,Some other race alone,Two or more races,...,Percent Two or more races,Percent Hispanic or Latino,geometry,newgeoid,counts,counts_lag,counts_lag_diff,closure_median,closure_lag,closure_lag_diff
782,15000US060014055001,"Block Group 1, Alameda, CA",951.0,79.0,151.0,0.0,605.0,0.0,0.0,0.0,...,0.000000,12.197687,"MULTIPOLYGON (((-13608067.030 4550547.241, -13...",60014055001,3,2.00,1.00,20.0,178.3125,-158.3125
517,15000US060014041012,"Block Group 2, Alameda, CA",1815.0,972.0,178.0,10.0,249.0,0.0,26.0,206.0,...,11.349862,9.586777,"MULTIPOLYGON (((-13609498.264 4555224.467, -13...",60014041012,1,2.00,-1.00,42.0,67.8125,-25.8125
1453,15000US060014088004,"Block Group 4, Alameda, CA",2151.0,0.0,957.0,0.0,159.0,0.0,0.0,0.0,...,0.000000,48.117155,"MULTIPOLYGON (((-13603863.383 4545698.637, -13...",60014088004,1,1.25,-0.25,2.0,90.4375,-88.4375

In [11]:
basic311gdf = gpd.read_file('Data/2019_OAK_311_NoBlank.csv')
basic311gdf.sample(3)

,REQUESTID,DATETIMEINIT,SOURCE,DESCRIPTION,REQCATEGORY,STATUS,REFERREDTO,DATETIMECLOSED,SRX,SRY,COUNCILDISTRICT,BEAT,Time to Close,LAT,LONG,geometry
3579,902092,5/6/19 11:26,SeeClickFix,Streets - Potholes/Depression,STREETSW,CLOSED,,3/23/20 15:08,6053488.527,2129815.514,CCD1,12X,322,37.83097213,-122.2597011,None
4959,918364,6/24/19 19:22,SeeClickFix,Streets - Potholes/Depression,STREETSW,OPEN,,,6069511.614,2112099.044,CCD4,24Y,Open,37.7831394,-122.2031131,None
3758,904376,5/13/19 15:39,SeeClickFix,Streets - Potholes/Depression,STREETSW,CLOSED,,6/12/19 17:19,6058627.419,2119359.801,CCD2,15X,30,37.80252641,-122.2412369,None

In [12]:
basic311gdf['LAT'] = basic311gdf['LAT'].astype('float64')

In [13]:
basic311gdf['LONG'] = basic311gdf['LONG'].astype('float64')

In [14]:
race2019blockgdf = race2019blockgdf.to_crs(4326)

In [15]:
joinedgdf = gpd.sjoin(basic311gdf, race2019blockgdf, how="left")

/tmp/ipykernel_134/1022655041.py:1: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: None
Right CRS: EPSG:4326

  joinedgdf = gpd.sjoin(basic311gdf, race2019blockgdf, how="left")

In [16]:
pd.set_option('display.max_columns', None)
joinedgdf

,REQUESTID,DATETIMEINIT,SOURCE,DESCRIPTION,REQCATEGORY,STATUS,REFERREDTO,DATETIMECLOSED,SRX,SRY,COUNCILDISTRICT,BEAT,Time to Close,LAT,LONG,geometry,index_right,geoid,name,Total,White alone,Black or African American alone,American Indian and Alaska Native alone,Asian alone,Native Hawaiian and Other Pacific Islander alone,Some other race alone,Two or more races,Hispanic or Latino,Percent White alone,Percent Black or African American alone,Percent American Indian and Alaska Native alone,Percent Asian alone,Percent Native Hawaiian and Other Pacific Islander alone,Percent Some other race alone,Percent Two or more races,Percent Hispanic or Latino,newgeoid
0,927576,7/23/19 15:38,SeeClickFix,Streets - Potholes/Depression,STREETSW,CLOSED,,7/26/19 13:45,6055962.501,2132386.75,CCD1,12Y,3,37.838160,-122.251303,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,918469,6/25/19 08:34,SeeClickFix,Streets - Guardrail Repair,STREETSW,CLOSED,,7/10/19 18:11,6063364.409,2136673.615,CCD1,13Y,15,37.850308,-122.225949,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,922854,7/9/19 12:17,SeeClickFix,Streets - Potholes/Depression,STREETSW,CLOSED,,7/22/19 16:40,6055410.001,2116416.751,CCD2,19X,13,37.794280,-122.252180,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,917741,6/22/19 16:00,SeeClickFix,Streets - Street Deterioration,STREETSW,OPEN,,,6076796.539,2120845.822,CCD4,22Y,Open,37.807518,-122.178452,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,927190,7/22/19 16:17,SeeClickFix,Streets - Street Deterioration,STREETSW,OPEN,,,6071960.1,2128430.85,CCD4,13Z,Open,37.828107,-122.195666,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5280,923771,7/11/19 17:33,SeeClickFix,Streets/Sidewalks - Other/Complex,STREETSW,OPEN,,,6085411.691,2097300.792,CCD7,32Y,Open,37.743286,-122.147201,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5281,921704,7/5/19 14:02,Email,Streets - Potholes/Depression,STREETSW,OPEN,,,6056022.087,2123898.335,CCD2,14Y,Open,37.814855,-122.250547,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5282,916830,6/19/19 12:43,SeeClickFix,Streets - Potholes/Depression,STREETSW,CLOSED,,7/1/19 06:25,6058128,2118764.25,CCD2,17Y,12,37.800866,-122.242927,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5283,916568,6/18/19 19:20,SeeClickFix,Streets - Potholes/Depression,STREETSW,CLOSED,,6/24/19 14:52,6064486.543,2134004.608,CCD1,13Y,6,37.843036,-122.221893,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5284,928990,7/28/19 19:02,SeeClickFix,Streets - Potholes/Depression,STREETSW,CLOSED,,7/30/19 06:15,6054832.646,2131573.798,CCD1,12Y,2,37.835869,-122.255162,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
joinedgdf['newgeoid.value_counts()

SyntaxError: EOL while scanning string literal (3627147005.py, line 1)

In [ ]:
countdf = joinedgdf['newgeoid'].value_counts().rename_axis('newgeoid').reset_index(name='counts')
print (countdf)

In [ ]:
blockcountracegdf = race2019blockgdf.merge(countdf,on='newgeoid')
blockcountracegdf.sample(3)

In [ ]:
blockcountracegdf.drop(columns='geoid10')

In [ ]:
closeracegdf = joinedgdf[joinedgdf['Time to Close']!='Open']
closeracegdf.sample(3)

In [ ]:
closeracegdf['Time to Close'] = closeracegdf['Time to Close'].astype('int64')

In [ ]:
closeddf_grouped = closeracegdf.groupby(['newgeoid']).median()[['Time to Close']]
closeddf_grouped.sample(3)

In [ ]:
closetimedf = closedgdf_grouped.rename_axis('newgeoid').reset_index('newgeoid')
print (closetimedf)

In [ ]:
closetimedf.columns = ['newgeoid', 'closure_median']
closetimedf

In [ ]:
blockcloseracegdf = race2019blockgdf.merge(closetimedf,on='newgeoid')
blockcloseracegdf

In [ ]:
blockcloseracegdf.drop(columns='geoid10')

In [1]:
blockcountrace2019gdf.loc[blockcountrace2019gdf['Percent White Alone'] > 50, 'Majority Race'] = 'White'

SyntaxError: invalid syntax (2923530240.py, line 1)

In [104]:
blockcloseracegdf.to_file("blockcloserace2019gdf.geojson", driver='GeoJSON')

In [105]:
blockcountracegdf.to_file("blockcountrace2019gdf.geojson", driver='GeoJSON')