Notebook to merge 2009 closure times and frequencies with 2019 income data.

In [1]:
import pandas as pd
import geopandas as gpd
import contextily as ctx
import matplotlib.pyplot as plt

/opt/conda/lib/python3.9/site-packages/geopandas/_compat.py:106: UserWarning: The Shapely GEOS version (3.9.1-CAPI-1.14.2) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [3]:
income2019blockgdf = gpd.read_file('incomeblocksbasemap.geojson')
income2019blockgdf.sample(5)

,geoid,block name,median income,geometry
247,15000US060014083003,"Block Group 3, Alameda, CA",116979.0,"MULTIPOLYGON (((-13599875.140 4547583.389, -13..."
91,15000US060014041011,"Block Group 1, Alameda, CA",99063.0,"MULTIPOLYGON (((-13609022.930 4555632.771, -13..."
210,15000US060014072001,"Block Group 1, Alameda, CA",48913.0,"MULTIPOLYGON (((-13605349.943 4547597.614, -13..."
141,15000US060014055002,"Block Group 2, Alameda, CA",54293.0,"MULTIPOLYGON (((-13608251.375 4550755.173, -13..."
224,15000US060014076003,"Block Group 3, Alameda, CA",90714.0,"MULTIPOLYGON (((-13603717.888 4548151.952, -13..."

In [5]:
income2019blockgdf['newgeoid'] = income2019blockgdf['geoid'].str[8:19]
income2019blockgdf.sample(5)

,geoid,block name,median income,geometry,newgeoid
0,15000US060014001001,"Block Group 1, Alameda, CA",219861.0,"MULTIPOLYGON (((-13608464.885 4563254.661, -13...",60014001001
187,15000US060014066022,"Block Group 2, Alameda, CA",48575.0,"MULTIPOLYGON (((-13605297.735 4550432.711, -13...",60014066022
301,15000US060014099004,"Block Group 4, Alameda, CA",126250.0,"MULTIPOLYGON (((-13595157.531 4544797.643, -13...",60014099004
289,15000US060014096004,"Block Group 4, Alameda, CA",52569.0,"MULTIPOLYGON (((-13600550.404 4544407.926, -13...",60014096004
308,15000US060014102003,"Block Group 3, Alameda, CA",70208.0,"MULTIPOLYGON (((-13598450.807 4542973.363, -13...",60014102003

In [6]:
CountClose2009gdf = gpd.read_file('2009_closetime_webmercator.geojson')
CountClose2009gdf.sample(5)

,statefp10,mtfcc10,uace10,name10,intptlat10,blockce10,awater10,funcstat10,aland10,geoid10,tractce10,intptlon10,ur10,countyfp10,closure_median,geometry
189,06,G5040,,Block 2027,+37.8081389,2027,0,S,7192,060014027002027,402700,-122.2797656,,001,2.0,"MULTIPOLYGON (((-13612186.964 4552334.805, -13..."
62,06,G5040,,Block 4002,+37.7972752,4002,0,S,16431,060014068004002,406800,-122.1995657,,001,507.0,"MULTIPOLYGON (((-13603096.280 4550843.221, -13..."
84,06,G5040,,Block 4002,+37.8043852,4002,0,S,41037,060014067004002,406700,-122.2047494,,001,178.0,"MULTIPOLYGON (((-13603660.336 4552031.596, -13..."
135,06,G5040,,Block 1000,+37.8086154,1000,0,S,1926,060014034001000,403400,-122.2514971,,001,33.0,"MULTIPOLYGON (((-13608998.217 4552415.399, -13..."
276,06,G5040,,Block 1006,+37.7928625,1006,0,S,681,060014054021006,405402,-122.2439416,,001,97.0,"MULTIPOLYGON (((-13608182.691 4550254.931, -13..."

In [7]:
CountClose2009gdf['newgeoid'] = CountClose2009gdf['geoid10'].str[1:12]
CountClose2009gdf.sample(5)

,statefp10,mtfcc10,uace10,name10,intptlat10,blockce10,awater10,funcstat10,aland10,geoid10,tractce10,intptlon10,ur10,countyfp10,closure_median,geometry,newgeoid
333,06,G5040,,Block 1003,+37.8090687,1003,0,S,1185,060014034001003,403400,-122.2629955,,001,179.0,"MULTIPOLYGON (((-13610273.048 4552464.714, -13...",60014034001
60,06,G5040,,Block 4003,+37.8293502,4003,0,S,47742,060014045024003,404502,-122.2035073,,001,399.0,"MULTIPOLYGON (((-13603793.140 4555216.998, -13...",60014045024
322,06,G5040,,Block 1012,+37.7414796,1012,0,S,16542,060014104001012,410400,-122.1608048,,001,35.0,"MULTIPOLYGON (((-13599022.989 4542976.319, -13...",60014104001
353,06,G5040,,Block 4004,+37.8016653,4004,0,S,22147,060014067004004,406700,-122.2062186,,001,69.0,"MULTIPOLYGON (((-13603984.387 4551292.350, -13...",60014067004
136,06,G5040,,Block 2006,+37.7972780,2006,0,S,848,060014054012006,405401,-122.2489243,,001,123.0,"MULTIPOLYGON (((-13608737.284 4550875.201, -13...",60014054012

In [8]:
check2gdf = CountClose2009gdf.newgeoid.value_counts()
check2gdf.sort_values()

60014071024     1
60014013002     1
60014014001     1
60014010001     1
60014062013     1
               ..
60014002002     6
60014049003     7
60014046004     7
60014045024     7
60014001001    11
Name: newgeoid, Length: 203, dtype: int64

In [ ]:
new2009df = CountClose2009gdf[['newgeoid', 'counts','counts_lag','counts_lag_diff','closure_median','closure_lag','closure_lag_diff']]
new2009df.sample(3)